@use 'functions';

$color-rose-800: #7A284E;
$color-rose-50: #FFF7FB;
$color-stone-900: #312E2C;
$color-stone-600: #5F564D;
$color-stone-150: #E3DDD7;
$color-stone-100: #F3E5D7;
$color-brown-800: #854632;
$color-white: #FFFFFF;

$space-128px: functions.to-rem(128px);
$space-48px: functions.to-rem(48px);
$space-40px: functions.to-rem(40px);
$space-32px: functions.to-rem(32px);
$space-24px: functions.to-rem(24px);
$space-21px: functions.to-rem(21px);
$space-19px: functions.to-rem(19px);
$space-16px: functions.to-rem(16px);
$space-12px: functions.to-rem(12px);
$space-8px: functions.to-rem(8px);

$radius-24px: functions.to-rem(24px);
$radius-12px: functions.to-rem(12px);

$horizontal-line-height: 1px;
$max-content-width: functions.to-rem(736px);
$max-image-height: functions.to-rem(300px);
$phone-width: 600px;

:root {
  @font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 400 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'YoungSerif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400 600;
    font-style: normal;
  }
}

@mixin phone {
  @media (max-width: $phone-width) {
    @content
  }
}

@mixin text-preset-1 {
  font-family: YoungSerif,serif;
  font-weight: 400;
  font-size: functions.to-rem(40px);
  line-height: 100%;
  letter-spacing: 0;

  @include phone {
    font-size: functions.to-rem(36px);
  }
}

@mixin text-preset-2 {
  font-family: YoungSerif,serif;
  font-weight: 400;
  font-size: functions.to-rem(28px);
  line-height: 100%;
  letter-spacing: 0;
}

@mixin text-preset-3 {
  font-family: Outfit, sans-serif;
  font-weight: 600;
  font-size: functions.to-rem(20px);
  line-height: 100%;
  letter-spacing: 0;
}

@mixin text-preset-4 {
  font-family: Outfit, sans-serif;
  font-weight: 400;
  font-size: functions.to-rem(16px);
  line-height: 150%;
  letter-spacing: 0;
}

@mixin text-preset-4-bold {
  font-family: Outfit, sans-serif;
  font-weight: 700;
  font-size: functions.to-rem(16px);
  line-height: 150%;
  letter-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-stone-100;
  padding: $space-128px $space-48px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include phone {
    padding: 0;
  }
}

h1, h2, h3, hr, p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom:  0;
  z-index: 2;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  border-radius: $radius-24px;
  background-color: $color-white;
  padding: $space-40px;
  width: 100%;
  max-width: $max-content-width;
  display: flex;
  flex-direction: column;
  row-gap: $space-40px;

  @include phone {
    border-radius: 0;
    padding: 0;
    row-gap: 0;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
  row-gap: $space-32px;

  @include phone {
    padding: $space-40px $space-32px;
  }
}

.cardContentColorDefault {
  font-weight: bold;
  color: $color-brown-800;
}

.cardContentColorPreparation {
  color: $color-rose-800;
}

.cardContentLine {
  border: 0;
  background-color: $color-stone-150;
  height: $horizontal-line-height;
  width: 100%;
}

.cardContentList {
  padding-left: $space-21px;
  display: flex;
  flex-direction: column;
  row-gap: $space-8px;
}

.cardContentListItem {
  margin-left: $space-19px;
  display: block;
}

.cardContentTable {
  display: flex;
  flex-direction: column;
  row-gap: $space-12px;
}

.cardContentTableRecord {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: $space-16px;
}

.cardContentTableRecordKey {
  margin-left: $space-32px;
}

.cardContentTableRecordValue {
  color: $color-brown-800;

  @include text-preset-4-bold;
}

.cardContentPreparation {
  border-radius: $radius-12px;
  background-color: $color-rose-50;
  padding: $space-24px;
  display: flex;
  flex-direction: column;
  row-gap: $space-16px;
}

.cardContentPreparationTitle {
  color: $color-rose-800;

  @include text-preset-3;
}

.cardContentStructure {
  display: flex;
  flex-direction: column;
  row-gap: $space-24px;
}

.cardContentTextDefault {
  color: $color-stone-600;

  @include text-preset-4;
}

.cardContentTitle {
  color: $color-stone-900;

  @include text-preset-1;
}

.cardContentTitleDefault {
  color: $color-brown-800;

  @include text-preset-2;
}

.cardImage {
  border-radius: $radius-12px;
  height: $max-image-height;
  width: 100%;
  object-fit: cover;

  @include phone {
    border-radius: 0;
    height: auto;
    object-fit: fill;
  }
}
